@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-10 mx-auto 0"> 
        <h2 class="text-center text-primary">Ecommerce MVC net 8 -posgresql</h2>
        <p>
            Este ecommerce en .NET 8, utilizando el patrón MVC y una base de datos PostgreSQL, integra una solución robusta de ventas en línea con múltiples funcionalidades avanzadas. Construido sobre EF Core, permite la gestión completa de productos y categorías, ofreciendo operaciones CRUD (Crear, Leer, Actualizar, Eliminar) y búsqueda avanzada de productos por nombre, optimizada mediante consultas eficientes en EF Core. La aplicación incorpora un carrito de compras dinámico que sincroniza LocalStorage en el frontend con el backend, permitiendo al usuario añadir, actualizar y eliminar productos en el carrito sin recargar la página. Los cambios en el carrito se registran en el servidor para garantizar la persistencia de los datos en la base de datos PostgreSQL.
            <br />
            <br />
            Para la gestión de imágenes, se implementa Cloudinary, lo que permite un almacenamiento en la nube optimizado y escalable de imágenes de productos, mejorando la velocidad y el rendimiento de la aplicación. Los formularios MVC están presentes en toda la aplicación para capturar datos del usuario y de productos, con validación en el cliente y el servidor para asegurar una entrada de datos precisa y segura.
            <br />
            <br />
            Además, este ecommerce incluye una funcionalidad de envío de pedidos a través de email y WhatsApp, permitiendo que los usuarios compartan el resumen de su compra por estos medios de comunicación. Al hacer un pedido, los usuarios pueden optar por enviar su carrito directamente a un contacto de WhatsApp o recibir la confirmación de su pedido por email, mejorando la experiencia de usuario al facilitar la comunicación de sus pedidos de manera eficiente.
            <br />
            <br />
            Este proyecto está diseñado como una demostración técnica completa, lista para adaptarse a las necesidades de ventas en línea de una empresa. Si estás buscando una solución similar para tu propio negocio, no dudes en ponerte en contacto para discutir cómo esta plataforma puede ayudarte a aumentar tu presencia y tus ventas en línea.
            <br />
            <br/>
            <a asp-action="Contact" class="my-3">Contact Via Email</a>

        </p>
    </div>
</div>
