@model MVCEcommerce.Dto_s.CategoryResultDto;
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-4 mx-auto 0">
        <h3 class="text-danger text-center">Do you want remove this Category?</h3>
        <div class="card">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>

                <div class="form-group text-center">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            }
            else
            {

               

                <p>Name : @Model.Title</p>
                <p>Creation Date : @Model.Date</p>
                <p>User : @Model.UserName</p>
                <div class="form-group text-center">
                    <form asp-action="DeleteConfirmed" method="post">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>


            }
         </div>
    </div>
</div>
